In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.0.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 727.2 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: numpy>=1.21.0 in /home/marinhotech/.local/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/marinhotech/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 KB 472.9 kB/s eta 0:00:00 kB/s eta 0:00:01:01
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.0.0 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [4]:
x = {'X1': [1,2,3,4,5,6,7,8], 'X2': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'],
    'X3': [.2,.4, .5, .6, .7, .8, .9, 1.]}
df = pd.DataFrame( data=x)
df.head(10)

   X1 X2   X3
0   1  a  0.2
1   2  b  0.4
2   3  c  0.5
3   4  d  0.6
4   5  e  0.7
5   6  f  0.8
6   7  g  0.9
7   8  h  1.0

In [5]:
print(df.iloc[2,1])

c

In [6]:
print(df.iloc[:2])

   X1 X2   X3
0   1  a  0.2
1   2  b  0.4

In [7]:
print(df.iloc[3,:])

X1      4
X2      d
X3    0.6
Name: 3, dtype: object

In [8]:
I = pd.array(df)
print(I)

NameError: name 'np' is not defined

In [9]:
data = pd.read_csv('iris.csv', reader=(0))
print("Número de linhas e colunas = ", data.shape)
data.read(10)

TypeError: read_csv() got an unexpected keyword argument 'reader'

In [11]:
data = pd.read_csv('iris.csv', reader=(0))
print("Número de linhas e colunas = ", data.shape)
data.head(10)

TypeError: read_csv() got an unexpected keyword argument 'reader'

In [12]:
data = pd.read_csv('iris.csv', reader=(0))
print("Número de linhas e colunas = ", data.shape)
data.head(10)

TypeError: read_csv() got an unexpected keyword argument 'reader'

In [13]:
data.describe()

NameError: name 'data' is not defined

In [14]:
I = pd.array(df)
print(I)

TypeError: Cannot pass DataFrame to 'pandas.array'

In [15]:
s = pd.Series([1,3,5,np.nan,6,8])
print(s)

NameError: name 'np' is not defined

In [16]:
pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Collecting matplotlib
  Downloading matplotlib-3.7.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 1.7 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01m
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 1.9 MB/s eta 0:00:00[31m2.0 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7 in /home/marinhotech/.local/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/lib/python3/dist-packages (from matplotlib) (9.0.1)
Requirement already satisfied: numpy>=1.20 in /home/marinhotech/.local/lib/python3.10/site-packages (from matplotlib) (1.24.2)
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.39.3-py3-none-any.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 1.2 MB/s eta 0:00:00[31m1.2 MB/s eta 0:00:01
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/lib/python3/dist-packages (from matplotlib) (21.3)
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.7-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.3/300.3 KB 1.3 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.0.7 cycler-0.11.0 fonttools-4.39.3 kiwisolver-1.4.4 matplotlib-3.7.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import matplotlib.pyplot as plt

x = np.arrange(0,2 * np.pi,0.1)
y = np.sin(x)
z = np.cos(x)
plt.plot(x, y, marker)