In [1]:
nome1="João Pancadão"
nome2="Marina Silva"

SyntaxError: invalid syntax (2867582002.py, line 2)

In [2]:
nome1="João Pancadão"
nome2="Marina Silva"

In [3]:
nome1[0]

'J'

In [4]:
nome1[6]

'a'

In [5]:
nome1[-2]

'ã'

In [6]:
nome1[:2]

'Jo'

In [7]:
nome1[2:5]

'ão '

In [8]:
len(nome1)

13

In [9]:
nome1[5]='l'

TypeError: 'str' object does not support item assignment

In [10]:
nome1.uopper()

AttributeError: 'str' object has no attribute 'uopper'

In [11]:
nome1.upper()

'JOÃO PANCADÃO'

In [12]:
nome1.startswith("Pedro")

False

In [13]:
nome1.startswitsh("joão")

AttributeError: 'str' object has no attribute 'startswitsh'

In [14]:
nome1.startswith("joão")

False

In [15]:
nome1.lower().startswith("joão")

True

In [16]:
nome1.endswith("ão")

True

In [17]:
arquivo = "imagem.png"
if arquivo.lower().endswith(".png"):
    print("É uma imagem")
else:
    print("Não é imagem")

É uma imagem

In [18]:
nome1.split(" ")

['João', 'Pancadão']

In [19]:
diretorio = "~/documentos/arquivos"
diretorio.split("/")

NameError: name 'diretorio' is not defined

In [20]:
diretorio = "~/documentos/arquivos"
diretorio.split("/")

['~', 'documentos', 'arquivos']

In [21]:
nome_imagem = arquivo.lower().split("·png")[0]
print(nome_imagem)

imagem.png

In [22]:
diretorio1 = "/".join(dir)
print(diretorio1)

TypeError: can only join an iterable

In [23]:
diretorio1 = " ".join(dir)
print(diretorio1)

TypeError: can only join an iterable

In [24]:
diretorio1 = " ".join(dir)
print(diretorio1)

TypeError: can only join an iterable

In [25]:
diretorio = " ".join(dir)
print(diretorio)

TypeError: can only join an iterable

In [26]:
palavras = ['A', 'Casa', 'de', 'Paulo', 'é', 'azul']

frase = ' '.join(palavras)
print(frase)

A Casa de Paulo é azul

In [27]:
strip1 = list(nome1)
print(strip1)

['J', 'o', 'ã', 'o', ' ', 'P', 'a', 'n', 'c', 'a', 'd', 'ã', 'o']

In [28]:
nome1 = ''.join(strip1)
print(nome1)

João Pancadão

In [29]:
nome3 = nome1.replace("jopo", "João")
print(nome3)

João Pancadão

In [30]:
nome4 nome1+ ' '+ nome2

SyntaxError: invalid syntax (4063932171.py, line 1)

In [32]:
nome4 = nome1+ ' '+ nome2

In [33]:
print(nome4)

João Pancadão Marina Silva

In [34]:
print("João" +nome1 [4:1])

NameError: name 'João' is not defined

In [35]:
print("João" +nome1 [4:])

João

In [36]:
print("João" +nome1 [4:])

João Pancadão

In [37]:
lista = [1,2,3,4]
tupla = (1,2,3)

In [38]:
tupla2 = 1,2,3
print(type(tupla2))

<class 'tuple'>

In [39]:
print(tupla2)

(1, 2, 3)

In [40]:
x, y, z = tupla
print(x)
print(y)
print(z)

1
2
3

In [41]:
lista[0] = 10
print(lista)

[10, 2, 3, 4]

In [42]:
lista2 = list(tupla)

In [43]:
print(lista2)

[1, 2, 3]

NameError: name 'tupla3' is not defined

In [45]:
tupla3 = tuple(lista2)

In [46]:
print(tupla3)

(1, 2, 3)

In [47]:
lista = ['Sol', 'lua', 'planetas']
lista[0] = lista[0].upper()
print(lista)

['SOL', 'lua', 'planetas']

In [48]:
carros = ['Ônix', 'Gol', 'Uno']
precos = [50000, 30000, 2000]

carros_precos = zip(carros, precos)
print(carros_precos)
carros_precos = list(carros_precos)
print(carros_precos)

<zip object at 0x7f138c123b40>
[('Ônix', 50000), ('Gol', 30000), ('Uno', 2000)]

In [49]:
for x in carros_precos:
    print(x)

('Ônix', 50000)
('Gol', 30000)
('Uno', 2000)

In [50]:
for x,y in carros_precos:
    print(x)
    print(y)

Ônix
50000
Gol
30000
Uno
2000

In [51]:
for x,y in zip(carros,precos):
    print(x)
    print(y)

SyntaxError: invalid syntax (2455493361.py, line 1)

In [52]:
for x,y in zip(carros,precos):
    print(x)
    print(y)

Ônix
50000
Gol
30000
Uno
2000

In [53]:
print("Lua")

Lua

In [54]:
cadastro = {'nome': 'Pedro', 'idade': 28, 'peso':60.0}
print(cadastro)

{'nome': 'Pedro', 'idade': 28, 'peso': 60.0}

In [55]:
cadastro['nome']

'Pedro'

In [56]:
cadastro ['idade']

28

In [ ]:
cadastro[]