In [3]:
print ("Diogo Marinho ")

Diogo Marinho

In [4]:
for i in range (0,10):
    print("Ola")

Ola
Ola
Ola
Ola
Ola
Ola
Ola
Ola
Ola
Ola

In [6]:
lista = ['a', 'b', 'c']
for i in lista:
    print(i)

a
b
c

In [7]:
i = 0
j = 10 
while i < 10:
    print (1)
    i+=1

1
1
1
1
1
1
1
1
1
1

In [8]:
lista1 = [0,1,2,3,4]

In [9]:
 type(lista1)

list

In [10]:
lista2 = ['Diogo', 'Lindo', ]

In [11]:
matriz = [[1,2,3], [4,5,6], [7,8,9]]
print(matriz)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [12]:
for linha in matriz:
    print(linha)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [14]:
matriz[0][0]

1

In [15]:
lista1[-1]

4

In [16]:
lista1[1:3]

[1, 2]

In [17]:
lista3 = ['Marte', 'Venus', 'Plutao', 'Terra']

for i in lista3:
    print("O planeta ´é", i)

O planeta ´é Marte
O planeta ´é Venus
O planeta ´é Plutao
O planeta ´é Terra

In [18]:
for i, p in enumerate(lista3):
    print(f"O planeta {i} é {p}")

O planeta 0 é Marte
O planeta 1 é Venus
O planeta 2 é Plutao
O planeta 3 é Terra

In [19]:
len(lista1)

5

In [21]:
positivo = []
for num in lista2:
    if num >=0:
        positivo.append(num)
positivo

TypeError: '>=' not supported between instances of 'str' and 'int'